header {
  align-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
}
main {
  font-size: 18px;
  padding-left: 13%;
  padding-right: 13%;
  padding-bottom: 15%;
}

.desktop-nav {
  position: fixed;
  top: 0;
  padding-top: 2%;
}

body {
  color: #070707;
  background-color: #c4cbca;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 100 700;
  font-size: 20 em
}
h1 {
  color: #070707;
}
h2 {
  color: #070707;
}
h3 {
  color: #070707;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d73b3e;
}
nav {
  padding: 1%;
  margin-bottom: 1%;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

table {
  border-color: #1C3144;
}

tr, td, th {
  border-collapse: collapse;
  padding: 5%;
}

th {
  font-weight: bold;
}
