header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
body {
  color: #070707;
  background-color: #c4cbca;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 100 700; 
}
h1 {
  color: #070707;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d73b3e;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
